<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode"
           path="iis-server.cjs"
           verb="*"
           modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- _next/static/ servido diretamente pelo IIS via junction _next -> .next -->
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="None" />
        </rule>

        <!-- public/ (favicon, imagens etc) servido diretamente -->
        <rule name="PublicFiles" stopProcessing="true">
          <match url="^(favicon\.ico|robots\.txt|sitemap\.xml)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Tudo mais vai para o Next.js via iisnode -->
        <rule name="NextApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="iis-server.cjs" />
        </rule>

      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      node_env="production"
      nodeProcessCountPerApplication="1"
      loggingEnabled="true"
      logDirectory="logs"
      debuggingEnabled="false" />

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
